ALCHEMY_URL=''
REDIS_URL=redis://localhost:6379
MONORAIL_DATA_URL="https://testnet-api.monorail.xyz/v1"
MONORAIL_PATHFINDER_URL="https://testnet-pathfinder-v2.monorail.xyz/v3"
NEXT_PUBLIC_REOWN_PROJECT_ID=''
NEXT_PUBLIC_USE_OS_LAYOUT=false