.token-scroll {
  scrollbar-width: thin;
  scrollbar-color: #a78bfa #18181b;
}
.token-scroll::-webkit-scrollbar {
  width: 8px;
  background: #18181b;
}
.token-scroll::-webkit-scrollbar-thumb {
  background: #a78bfa;
  border-radius: 8px;
}
.token-scroll::-webkit-scrollbar-thumb:hover {
  background: #c4b5fd;
} 